.navbar {
  box-shadow: 2px 2px 10px black;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.brand-title {
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  font-size: 20px;
}
.active {
  color: aliceblue;
}
.nav-item {
  font-size: 15px;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease-in;
  transform: scale(1);
}
.active {
  color: aliceblue;
  transform: scale(1.2);
}
.nav-item:hover {
  transform: scale(1.2);
  font-weight: bold;
}
.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  transition: all 0.5s ease;
}
@media screen and (min-width: 1200px){

  .navbar-nav{
    position: relative;
    margin-left: 4vw;
  }
  .nav-item{
    font-size: 1vw;
  }

  ul li:nth-child(1) {  
    width: 7vw;
  }

  .start-home,
  ul li:nth-child(1):hover ~ .animation {
    width: 7vw;
    left: 0vw;
  }
  ul li:nth-child(2) {
    width: 7vw;
  }
  .start-world,
  ul li:nth-child(2):hover ~ .animation { 
    width: 7vw;
    left: 7vw;
  }
  ul li:nth-child(3) {
    width: 7vw;
  }
  .start-news,
  ul li:nth-child(3):hover ~ .animation {
    width: 7vw;
    left: 14vw;
  }
  ul li:nth-child(4) {
    width: 9vw;
  }
  .start-mythb,
  ul li:nth-child(4):hover ~ .animation {
    width: 9vw;
    left: 21vw;
  }
}
/* @media screen and (width: 1500px){
  

  ul li:nth-child(1) {
    width: 100px;
  }

  .start-home,
  ul li:nth-child(1):hover ~ .animation {
    width: 110px;
    left: 500px;
  }
  ul li:nth-child(2) {
    width: 100px;
    
  }
  .start-world,
  ul li:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 600px;
  }
  ul li:nth-child(3) {
    width: 100px;
  }
  .start-news,
  ul li:nth-child(3):hover ~ .animation {
    width: 110px;
    left: 700px;
  }
  ul li:nth-child(4) {
    width: 150px;
  }
  .start-mythb,
  ul li:nth-child(4):hover ~ .animation {
    width: 160px;
    left: 800px;
  }
}

@media screen and (width: 1600px){
  

  ul li:nth-child(1) {
    width: 100px;
  }

  .start-home,
  ul li:nth-child(1):hover ~ .animation {
    width: 110px;
    left: 520px;
  }
  ul li:nth-child(2) {
    width: 100px;
    
  }
  .start-world,
  ul li:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 620px;
  }
  ul li:nth-child(3) {
    width: 100px;
  }
  .start-news,
  ul li:nth-child(3):hover ~ .animation {
    width: 110px;
    left: 720px;
  }
  ul li:nth-child(4) {
    width: 150px;
  }
  .start-mythb,
  ul li:nth-child(4):hover ~ .animation {
    width: 160px;
    left: 820px;
  }
} */

