<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a
    class="navbar-brand"
    style="margin-right: 0px; margin-left: 20%; margin-right: 2%;"
    href="#"
  >
    <img src="../../assets/diya-brand_img.jpg" width="50" height="50" alt="" />
  </a>
  <a class="navbar-brand" class="brand-title" href="#">Jijivisha</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-left: 4%;">
      <li class="nav-item">
        <a id="home" class="nav-link" routerLink=""
          ><i class="fas fa-home"></i> India<span class="sr-only"
            >(current)</span
          ></a
        >
      </li>
      <li class="nav-item">
        <a id="world" class="nav-link" routerLink="world"
          ><i class="fas fa-globe-asia"></i> World
        </a>
      </li>

      <li class="nav-item">
        <a id="news" class="nav-link" routerLink="news"
          ><i class="fas fa-newspaper"></i> News</a
        >
      </li>

      <li  class="nav-item">
        <a id="mythb" class="nav-link" routerLink="mythbusters"
          ><i class="fas fa-smile-wink"></i> Myth Busters</a
        >
      </li>
      <div id="animationDiv" class="animation"></div>
    </ul>
  </div>
</nav>
