body{
 /* background-image: linear-gradient(#e1bee7,#ce93d8,#ba68c8);
 filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.background-colour{
  min-height: 360vh;
  min-width: 100vw;
  clear: both;
  background-image: linear-gradient(#e1bee7,#ce93d8,#ba68c8);
 filter: blur(8px);
  -webkit-filter: blur(8px);
  
  position: absolute;
}
.header_1 {
  margin-top: 5%;
  color: #6a1b9a;
}
.header_2 {
  /* position:absolute; */
  color: #2196f3;
}
.geo-chart_div{
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.chart {
  margin-top: 3%;
  width: 100%;
  height: 250px;
  /*  */
}

/* for blockquotes */
.quotes-div {
  /* left: 2%; */
}
.quotes {
  position: relative;
  font-family: "Girassol", cursive;
  font-size: 15px;
  line-height: 30px;
  color: #6a1b9a;
}
.quotes footer {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.6em;
  font-weight: 700;
  color: #e1bee7;
  float: right;
  position: absolute;
  left: 50%;
}
.quotes footer::before {
  content: "\2015";
}
.quotes::after {
  content: "\201D";
  position: absolute;
  top: 0.28em;

  font-size: 6em;
  font-style: italic;
  color: #e1bee7;
  z-index: 1;
}

/* line charts */
.line_charts-div{
  margin-top:10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.line_charts{
  width: 100%;
  height: 250px;
}



.all-data_div{
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.table-search_bar{
  /* width: 30%; */
  width: 90%;
  bottom: 0;
  height: 2.5em;
  padding: 0.2em;
  font-size: 1.2em;
  border: none;
  
}
#searchBarDiv{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(109, 14, 61, 0.24);
  /* background-color: lightblue; */
  margin-bottom: 1.5em;
  transition: all 0.2s ease-in ;
}

/* #searchBarDiv:focus{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
#searchBox{
  outline: none;
}
#searchClear{
  position: absolute;
  right: 2em;
  top: 1em;
  color: #6a1b9a;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
#searchClear:hover{
  color: red
}
.table-headline{
  font-size: 1.2em;
   font-weight: bolder
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .chart {
    /* position: absolute; */

    height: 500px;
  }
  .header_2 {
    position: absolute;
    top: 50%;
  }

  .quotes {
    position: relative;

    font-size: 25px;
    line-height: 30px;
  }
  .quotes-div {
    margin-left: 25%;
    margin-top: 2%;
  }
  #searchBarDiv{
    width: 50%;
    margin-left: 50%;
  }
  .table-headline{
    font-size: 1.8em;
     font-weight: bolder
  }
}
@media only screen and (min-width: 1024px) {
  .chart {
    /* position: absolute; */

    height: 500px;
  }
  .header_2 {
    position: absolute;
    top: 50%;
  }
  #searchBarDiv{
    width: 40%;
    margin-left: 60%;
  }
  .quotes {
    position: relative;

    font-size: 25px;
    line-height: 30px;
  }

  .quotes-div {
    margin-left: 25%;
    margin-top: 2%;
  }

  .table-headline{
    font-size: 1.8em;
     font-weight: bolder
  }
  @media only screen and (min-width: 1200px) {
    #searchBarDiv:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}
